h1 {
    font-size: 18px;
}

label {
    display: inline-block;
    width: 70px;
}

.chart-wrapper {
    min-height: 200px;
}

#classchart {
    display: none;
}

#highchart,
#classchart{
    width: 100%;
    height: 100%;
}


.well {
    overflow-y: scroll;
    max-height: 50vh;
}

code {
    display: block;
    overflow-x: scroll;
    white-space: normal;
    margin: 0 0 1px 0;
    font-size: 10px;
}
