h1 {
  font-size: 18px;
}

label {
  display: inline-block;
  width: 70px;
}

#classchart,
#highchart {
  width: 100%;
  height: 100%;
}

#classchart {
  display: none;
  border: 1px solid lightblue;
  box-shadow: 0 1px 3px lavender;
  border-radius: 10px;
  z-index: 1;
}

#classchart:after {
  content: 'X';
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 2px;
  color: #ccc;
  font-size: 15px;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
}

.highcharts-container {
  margin: 0 auto;
}


.well {
    height: 350px;
    overflow-y: scroll;
}

code {
    display: block;
    overflow-x: scroll;
    white-space: normal;
    margin: 0 0 1px 0;
    font-size: 10px;
}

code:hover {
  text-shadow: 0 0 .1px rgba(255,0,0,.7);
}

tspan:hover {
  font-size: large;
  cursor: pointer;
  transition: .2s;
}

tspan:active {
  fill: 7cb5ec;
}
