#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'styles'}
    #{stylesheet 'bootstrap.min.css' /}
    #{stylesheet 'main.css' /}
#{/set}


<div class="container" data-info=#{tags}>
    <h1>${link}</h1>

    <section class="col-sm-10">

        <figure class="chart-wrapper">
            <div id="classchart"></div>
            <div id="highchart"></div>
        </figure>

        <div class="well">
            <code>
                #{list items:html, as:'line'}
                    ${line}<br />
                #{/list}
            </code>
        </div>

    </section>

    <p><a href="@{Application.index()}">Back to form</a></p>
</div>


#{set 'scripts'}
    #{script 'jquery-1.6.4.min.js' /}
    #{script 'highcharts.js' /}
    #{script 'main.js' /}
#{/set}
