#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'styles'}
    #{stylesheet 'bootstrap.min.css' /}
    #{stylesheet 'main.css' /}
#{/set}

<script>
    window.tags = "${tags}";
</script>


<div class="container">
    <h1>${link}</h1>

    <figure class="chart-wrapper col-md-8">
        <div id="classchart"></div>
        <div id="highchart"></div>
    </figure>

    <div class="well col-md-4">
        #{list items:html, as:'line'}
            <code>${line}</code>
        #{/list}
    </div>

    <p><a href="@{Application.index()}">Back to form</a></p>
</div>



#{set 'scripts'}
    #{script 'https://code.jquery.com/jquery-3.1.0.min.js' /}
    #{script 'highcharts.js' /}
    #{script 'main.js' /}
#{/set}
